.faqHeader {
  font-size: 27px;
  margin: 20px;
}

.panel-heading [data-toggle="collapse"]:after {
  font-family: 'FontAwesome';
  content: "\f078";
  float: right;
  color: #F58723;
  font-size: 18px;
  line-height: 22px;
}

.panel-heading [data-toggle="collapse"].collapsed:after {
  color: #454444;
}

